body {
	text-align: center;
	margin: 0 auto;
}

h1 {
	color: rgba(82,139,210,1.00);
}

button {
	padding: 1.2em 3em;
	margin: 1em;
	background-color: #005878;
	color: #FFFFFF;
}

div {
	color: royalblue;
}

